# Python practice problems with for loops, dict, input

In [1]:
# Review Python "input" # this should help with assignments below

In [1]:
Olympic_year = input("Which year will be next summer Olympics? ")

Which year will be next summer Olympics? 2010

In [2]:
print(type(Olympic_year)) # it is string

<class 'str'>

In [3]:
print(type(int(Olympic_year))) # it is integer

<class 'int'>

1) Write a for loop to print "Hello" 10 times.

In [ ]:
# Write code here ...
for i in range(1,11):
    print(i,"Hello")

2) Write a for loop to print even numbers in the range 1 .. 20

In [10]:
# Write code here ...
for i in range(1,21):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
"""
3) Define a list of animals to be as follows:
animals = ["lion","tiger","elephant","giraffe","zebra"]

Now print animal names using for loop. The output should be as follows:
1 lion
2 tiger
3 elephant
4 giraffe
5 zebra
"""

In [15]:
# Write code here ...
animals = ["lion","tiger","elephant","giraffe","zebra"]

for i in range(0,len(animals)):
    print(i+1, animals[i])

1 lion
2 tiger
3 elephant
4 giraffe
5 zebra

In [ ]:
"""
4) Visiting moon every year for next 10 years
The weight on moon can be estimated to be 18%  of weight on earth.
Write a program which will ask the user to enter current earth weight.
Then calculate weight on moon. Assume our weight increases by 2 pounds every year on earth.

Use for loop to print weight on moon each year when you visit.
"""

In [65]:
# Write code here ...
e_weight = input("Enter current earth weight: ")
earth = int(e_weight)

for y in range(1,11):
    m_weight=earth *.18
    earth=earth + 2*y
    
    print(y, m_weight)

Enter current earth weight: 100
1 18.0
2 18.36
3 19.08
4 20.16
5 21.599999999999998
6 23.4
7 25.56
8 28.08
9 30.959999999999997
10 34.199999999999996

5) Write a for loop to find the sum of all numbers from 1 to 100; 1 + 2 + ... + 99 + 100

# Write code here ...
sum=0
for i in range(1,101):
    sum +=i
print(sum)

6) Write a for loop which will ask the user to input 4 numbers. The program should calculate sum of 4 numbers and print the sum.

In [25]:
# Write code here ...
sum=0
line = input("input 4 #s: ")
strip_line=line.rstrip()
numbers = strip_line.split(" ")
for i in numbers:
    print(i)
    sum += int(i)
print(sum)

input 4 #s: 1 2 3 4
1
2
3
4
10

7) Write a Python for loop to find product of even number from 1 to 50;
2 x 4 x 6 x 8 x ... x 42 x 44 x 46 x 50

In [29]:
# Write code here ...
prod=1
for i in range(1,51):
    if i%2 == 0:
        prod *=i
print(prod)

520469842636666622693081088000000

8a) Find the index of minimum and maximum number in MyList.

In [ ]:
myList = [46, 84, 43, 75, 94, 7, 17, 76, 44, 17, 81, 21, 70, 56, 98, 88, 59, 58, 62, 77, 
          56, 19, 83, 82, 2, 38, 8, 57, 80, 54, 71, 74, 77, 18, 66, 25, 60, 29, 30, 11, 
          45, 60, 92, 44, 71, 49, 22, 74, 30, 58, 73, 60, 14, 97, 13, 78, 42, 17, 98, 14, 
          19, 79, 54, 56, 84, 81, 49, 18, 95, 36, 84, 77, 44, 69, 48, 94, 66, 13, 96, 7, 
          9, 47, 4, 37, 71, 51, 9, 28, 92, 38, 75, 66, 2, 34, 88, 4, 43, 75, 57, 83,
          63, 17, 25, 98, 71, 95, 1, 86, 97, 90, 6, 96, 11, 49, 16, 91, 50, 66, 54, 94,
          75, 69, 97, 23, 50, 13, 75, 15, 77, 17, 57, 59, 47, 44, 95, 28, 16, 72, 69, 7,
          14, 76, 10, 21, 56, 89, 51, 78, 25, 7, 8, 17, 53, 86, 58, 35, 46, 16, 74, 21, 9,
          4, 91, 59, 84, 50, 86, 60, 63, 99, 92, 64, 55, 40, 93, 39, 48, 96, 49, 98, 36,
          72, 82, 45, 62, 58, 77, 17, 42, 49, 38, 21, 84, 61, 77, 1, 37, 31, 50, 52, 58]

In [10]:
# Write code here ...
myList = [46, 84, 43, 75, 94, 7, 17, 76, 44, 17, 81, 21, 70, 56, 98, 88, 59, 58, 62, 77, 
          56, 19, 83, 82, 2, 38, 8, 57, 80, 54, 71, 74, 77, 18, 66, 25, 60, 29, 30, 11, 
          45, 60, 92, 44, 71, 49, 22, 74, 30, 58, 73, 60, 14, 97, 13, 78, 42, 17, 98, 14, 
          19, 79, 54, 56, 84, 81, 49, 18, 95, 36, 84, 77, 44, 69, 48, 94, 66, 13, 96, 7, 
          9, 47, 4, 37, 71, 51, 9, 28, 92, 38, 75, 66, 2, 34, 88, 4, 43, 75, 57, 83,
          63, 17, 25, 98, 71, 95, 1, 86, 97, 90, 6, 96, 11, 49, 16, 91, 50, 66, 54, 94,
          75, 69, 97, 23, 50, 13, 75, 15, 77, 17, 57, 59, 47, 44, 95, 28, 16, 72, 69, 7,
          14, 76, 10, 21, 56, 89, 51, 78, 25, 7, 8, 17, 53, 86, 58, 35, 46, 16, 74, 21, 9,
          4, 91, 59, 84, 50, 86, 60, 63, 99, 92, 64, 55, 40, 93, 39, 48, 96, 49, 98, 36,
          72, 82, 45, 62, 58, 77, 17, 42, 49, 38, 21, 84, 61, 77, 1, 37, 31, 50, 52, 58]

def find_index():
    min_list = []
    max_list = []
    result = []
    my_len=len(myList)
    my_min = min(myList)
    my_max = max(myList)
    
    for i in range(0,my_len):
        if myList[i] == my_min:
            min_list.append(i)
        elif myList[i] == my_max:
            max_list.append(i)
    result.append(min_list)
    result.append(max_list)
    return result

result = find_index()
for ind in result[0]:
    print("min", myList[ind], "is at position", ind)
for ind in result[1]:
    print("max index is at", ind)

min 1 is at 106
min 1 is at 195
max index is at 169

8b) In myList, find top-5 highest frequency numbers. List the numbers and number of occurences.

In [26]:
# write code here ...
myList = [46, 84, 43, 75, 94, 7, 17, 76, 44, 17, 81, 21, 70, 56, 98, 88, 59, 58, 62, 77, 
          56, 19, 83, 82, 2, 38, 8, 57, 80, 54, 71, 74, 77, 18, 66, 25, 60, 29, 30, 11, 
          45, 60, 92, 44, 71, 49, 22, 74, 30, 58, 73, 60, 14, 97, 13, 78, 42, 17, 98, 14, 
          19, 79, 54, 56, 84, 81, 49, 18, 95, 36, 84, 77, 44, 69, 48, 94, 66, 13, 96, 7, 
          9, 47, 4, 37, 71, 51, 9, 28, 92, 38, 75, 66, 2, 34, 88, 4, 43, 75, 57, 83,
          63, 17, 25, 98, 71, 95, 1, 86, 97, 90, 6, 96, 11, 49, 16, 91, 50, 66, 54, 94,
          75, 69, 97, 23, 50, 13, 75, 15, 77, 17, 57, 59, 47, 44, 95, 28, 16, 72, 69, 7,
          14, 76, 10, 21, 56, 89, 51, 78, 25, 7, 8, 17, 53, 86, 58, 35, 46, 16, 74, 21, 9,
          4, 91, 59, 84, 50, 86, 60, 63, 99, 92, 64, 55, 40, 93, 39, 48, 96, 49, 98, 36,
          72, 82, 45, 62, 58, 77, 17, 42, 49, 38, 21, 84, 61, 77, 1, 37, 31, 50, 52, 58]
num_dict={}
length=len(myList)
for i in myList:
    count= myList.count(i)
    if count not in num_dict:
        num_dict[i] = count

sorted_by_value = sorted(num_dict.items(), key=lambda kv: kv[1], reverse=True)
c=5
print("number repeat")
for k,v in sorted_by_value:
    if c>0:
        print(k,v)
        c -=1

number repeat
77 6
84 5
75 5
58 5
49 5

9) Write a Python program to convert temperature from Centigrade to Fahrenheit
and Fahrenheit to Centigrade. At the start, the program should ask which way we are converting.

Then ask the user to input the temperature. Your program should do the conversion
and print the results.

(C x 9/5) + 32 = F

In [12]:
# Write code here 
c_to_f = input("Centigrade to Fahrenheit? (y/n) ")
if c_to_f =='y' or c_to_f =='Y':
    degree = input("Input a temperture in Centigrade: ")
    print(degree,'-->',int(degree)*9/5+32,'Fahrenheit')
else:
    degree = input("Input a temperture in Fahrenheit: ")
    print(degree,'-->',(int(degree)-32)*5/9,'Centigrade')

Centigrade to Fahrenheit? (y/n) n
Input a temperture in Fahrenheit: 100
100 --> 37.77777777777778 Centigrade

In [8]:
"""
10) Print the times table:
1x1=1 1x2=2 1x3=3 1x4=4 1x5=5
2x1=2 2x2=4 2x3=6 2x4=8 2x5=10
3x1=3 3x2=6 3x3=9 3x4=12 3x5=15
4x1=3 4x2=6 4x3=9 4x4=12 4x5=15
5x1=3 5x2=6 5x3=9 5x4=12 5x5=15

Use for loop nested with for loop to print the above multiplication table
"""

'\n10) Print the times table:\n1x1=1 1x2=2 1x3=3 1x4=4 1x5=5\n2x1=2 2x2=4 2x3=6 2x4=8 2x5=10\n3x1=3 3x2=6 3x3=9 3x4=12 3x5=15\n4x1=3 4x2=6 4x3=9 4x4=12 4x5=15\n5x1=3 5x2=6 5x3=9 5x4=12 5x5=15\n\nUse for loop nested with for loop to print the above multiplication table\n'

In [43]:
# write code here 
for x in range(1,6):
    for y in range(1,6):
        s = str(x)+'x'+str(y)+'='+str(x*y)
        print(s, end=' ')
    print("\n")

1x1=1 1x2=2 1x3=3 1x4=4 1x5=5

2x1=2 2x2=4 2x3=6 2x4=8 2x5=10

3x1=3 3x2=6 3x3=9 3x4=12 3x5=15

4x1=4 4x2=8 4x3=12 4x4=16 4x5=20

5x1=5 5x2=10 5x3=15 5x4=20 5x5=25